.MushroomSix {
  margin: 331px 0 0 290px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.MushroomSeven {
  margin: 257px 0 0 120px;
  -webkit-transform: rotate(-101deg);
  -moz-transform: rotate(-101deg);
  -o-transform: rotate(-101deg);
  transform: rotate(-101deg);
}
.MushroomEight {
  margin: 207px 0 0 204px;
  -webkit-transform: rotate(289deg);
  -moz-transform: rotate(289deg);
  -o-transform: rotate(289deg);
  transform: rotate(289deg);
}
.MushroomNine {
  margin: 150px 0 0 231px;
  -webkit-transform: rotate(133deg);
  -moz-transform: rotate(133deg);
  -o-transform: rotate(133deg);
  transform: rotate(133deg);
}
.MushroomTen {
  margin: 220px 0 0 251px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}
