
.Mushroom {
  position: absolute;
  width: 70px;
  height: 75px;
  z-index: 20;
  margin: 200px 0 0 200px;
  text-indent: -9999px;
}

.Cap {
  width: 70px;
  height: 35px;
  background: #b49989;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  z-index: 20;
  position: relative;
}
.Stem {
  width: 35px;
  height: 35px;
  background: #c3b5ae;
  margin-left: 17px;
  margin-top: -10px;
}
.MushroomOne {
  margin: 167px 0 0 122px;
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  transform: rotate(22deg);
}
.MushroomTwo {
  margin: 100px 0 0 230px;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  transform: rotate(-47deg);
}
.MushroomThree {
  margin: 357px 0 0 201px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}
.MushroomFour {
  margin: 157px 0 0 335px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}
.MushroomFive {
  margin: 215px 0 0 340px;
  -webkit-transform: rotate(-86deg);
  -moz-transform: rotate(-86deg);
  -o-transform: rotate(-86deg);
  transform: rotate(-86deg);
}
.MushroomSix {
  margin: 331px 0 0 290px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.MushroomSeven {
  margin: 257px 0 0 120px;
  -webkit-transform: rotate(-101deg);
  -moz-transform: rotate(-101deg);
  -o-transform: rotate(-101deg);
  transform: rotate(-101deg);
}
.MushroomEight {
  margin: 207px 0 0 204px;
  -webkit-transform: rotate(289deg);
  -moz-transform: rotate(289deg);
  -o-transform: rotate(289deg);
  transform: rotate(289deg);
}
.MushroomNine {
  margin: 150px 0 0 231px;
  -webkit-transform: rotate(133deg);
  -moz-transform: rotate(133deg);
  -o-transform: rotate(133deg);
  transform: rotate(133deg);
}
.MushroomTen {
  margin: 220px 0 0 251px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}

.Pepper {
  position: absolute;
  width: 20px;
  height: 45px;
  background: #2f5e20;
  box-shadow: 2px 2px 2px rgba(66, 132, 45, 0.9);
  margin: 250px 0 0 400px;
  z-index: 30;
}

.GreenPepperOne {
  margin: 200px 0 0 100px;
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  transform: rotate(22deg);
}
.GreenPepperTwo {
  margin: 250px 0 0 300px;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  transform: rotate(-47deg);
}
.GreenPepperThree {
  margin: 195px 0 0 200px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}
.GreenPepperFour {
  margin: 90px 0 0 300px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}
.GreenPepperFive {
  margin: 120px 0 0 150px;
  -webkit-transform: rotate(-86deg);
  -moz-transform: rotate(-86deg);
  -o-transform: rotate(-86deg);
  transform: rotate(-86deg);
}
.GreenPepperSix {
  margin: 300px 0 0 200px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.GreenPepperSeven {
  margin: 340px 0 0 295px;
  -webkit-transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  transform: rotate(-47deg);
}
.GreenPepperEight {
  margin: 200px 0 0 380px;
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
}
.GreenPepperNine {
  margin: 300px 0 0 100px;
  -webkit-transform: rotate(67deg);
  -moz-transform: rotate(67deg);
  -o-transform: rotate(67deg);
  transform: rotate(67deg);
}
.GreenPepperTen {
  margin: 400px 0 0 200px;
  -webkit-transform: rotate(289deg);
  -moz-transform: rotate(289deg);
  -o-transform: rotate(289deg);
  transform: rotate(289deg);
}
